<!-- app/views/dogs/show.html.erb -->
<h1><%= @dog.name %></h1>
<p>Âge: <%= @dog.age %></p>
<p>Race: <%= @dog.breed %></p>
<p>Sexe: <%= @dog.sex %></p>
<p>Stérilisé: <%= @dog.sterilized ? 'Oui' : 'Non' %></p>
<p>Remarques: <%= @dog.remarks %></p>
