<!-- app/views/cats/show.html.erb -->
<h1><%= @cat.name %></h1>
<p>Âge: <%= @cat.age %></p>
<p>Race: <%= @cat.breed %></p>
<p>Sexe: <%= @cat.sex %></p>
<p>Stérilisé: <%= @cat.sterilized ? 'Oui' : 'Non' %></p>
<p>Remarques: <%= @cat.remarks %></p>
